:root{
    --primary-color: #171010;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --button-hover-color: #b4846c;
    --text-hover-color: #911F27;
    --facebook-color: #3b5998;
    --success-color: #28a745;
    --topic-img-height: 400px;
    --love-color: #e31b23;
    --angry-color: #c92929;

    --header-height: 50px;
}

/* Reset Css */
*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Grid */

.grid{
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.666666666667%;
}

.grid__column-3{
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}

.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-5{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.33333333333333333%;
}

/* BUTTON */
.btn{
    display: inline-block;
    outline: none;
    text-decoration: none;
    border: none; 
    cursor: pointer;
    border-radius: 5px;
}

/* TOAST */
#toast{
    position: fixed;
    top: 58px;
    right: 32px;
    z-index: 99999999;
}

.toast{
    min-width: 380px;
    max-width: 450px;
    display: flex;
    align-items: center;
    background: var(--white-color);
    border-radius: 2px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    padding: 20px 0;
    transition: all linear 0.4s;
}

.toast + .toast{
    margin-top: 12px;
}

.toast__icon,
.toast__close{
    padding: 0 16px;
}

.toast__icon{
    font-size: 24px;
}

.toast__close{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.toast__close:hover{
    opacity: 0.7;
}

.toast__title{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
}

.toast__body{
    flex-grow: 1;
}

.toast__msg{
    font-size: 1.4rem;
    margin-top: 6px;
    line-height: 1.5;
}

.toast--love{
    border-color: var(--love-color);
}
.toast--love .toast__icon{
    color: var(--love-color);
}

.toast--like .toast__icon{
    border-color: var(--facebook-color);
}
.toast--like{
    color: var(--facebook-color);
}

.toast--angry{
    border-color: var(--angry-color);
}
.toast--angry .toast__icon{
    color: var(--angry-color);
}

/* ANIMATION */

@keyframes growthUp{
    from {
        opacity: 0.7;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideDown {
    from{
        opacity: 0.5;
        transform: scaleY(0);
    }
    to{
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes avt-1 {
    0% {visibility: visible;}
    33% {visibility: visible;}
    66% {visibility: hidden;}
    100% {visibility: hidden;}
}
@keyframes avt-2 {
    0% {visibility: hidden;}
    33% {visibility: hidden;}
    66% {visibility: visible;}
    100% {visibility: hidden;}
}
@keyframes avt-3 {
    0% {visibility: hidden;}
    33% {visibility: hidden;}
    66% {visibility: hidden;}
    100% {visibility: visible;}
}

@keyframes slideInLeft{
    from{
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to{
        opacity: 0;
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
