/* HEADER */

#header{
    background-image: linear-gradient(0, #2D2424, #171010);
    height: var(--header-height);   
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header__nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

ul.nav__item-list{
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 0rem;
}

.nav__item-maps{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav__item{
    cursor: pointer;
}

.nav__contact,
.nav__item,
.nav__item-link,
.nav__user{
    color: var(--white-color);
    font-size: 1.6rem;
}

.nav__contact,
.nav__music,
.nav__user{
    padding: 0 12px;
}

.nav__contact:hover .nav__contact-text,
.nav__music:hover .nav__music-text,
.nav__user:hover .nav__user-name{
    color: #ccc;
}

.nav__contact-mobile{
    display: none;
}

.nav__contact{
    position: relative;
}

.nav__contact:hover .nav__contact-wrap{
    display: flex;
}

.nav__contact-separate::after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-left: 11px;
    transform: translateY(-48%);
    height: 18px;
    border-right: 1px solid var( --border-color);
}

/* QR CODE */
.nav__contact-wrap{
    background-color: var(--white-color);
    position: absolute;
    border-radius: 4px;
    top: calc(100% + 18px);
    left: 0;
    display: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    cursor: default;
    transform-origin: 28px top;
    will-change: opacity, transform;
    animation: growthUp ease 0.3s;
    z-index: 5;
}

.nav__contact-wrap::before{
    content: "";
    position: absolute;
    top: -30px;
    left: 30px;
    border-style: solid;
    border-width: 16px 24px;
    border-color: transparent transparent var(--white-color) transparent
}

.nav__contact-wrap::after{
    display: block;
    content: "";
    position: absolute;
    top: -18px;
    left: 0;
    width: 90%;
    height: 18px;
    background-color: transparent;
}

.nav__qr-code{
    font-size: 1.4rem;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.nav__qr-code-img{
    margin: 8px 8px 0;
    width: 200px;
    /* border: 1px solid var(--border-color); */
}

.nav__social-wrap{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    margin-bottom: 12px;
}

.nav__social{
    text-decoration: none;
    color: var(--text-color);
    margin: 2px 15px 0;
    font-size: 1.3rem;
    font-weight: 550;
}

.nav__social-icon-ins{
    color: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
}

.nav__social-icon-fb{
    color: #3b5998;  
}

.nav__item-link:hover{
    background-color: var(--button-hover-color);
    color: var(--black-color);
}

.nav__item-link{
    display: block;
    line-height: var(--header-height);
    text-decoration: none;
    padding: 0 14px;
}

.nav__item-icon{
    display: none;
}

/* NAV EDUCATION */

.nav__edu{
    position: relative;
}

.nav__edu:hover .nav__edu-list{
    transform: scaleY(1);
}

.nav__edu-list{
    list-style: none;
    width: 266px;
    position: absolute;
    top: 101%;
    left: -86%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    will-change: transfrom;
    transition: all .3s linear;
    transform-origin: left top;
    transform: scaleY(0);
    border-radius: 5px;
    overflow: hidden;
}

.nav__edu-item{
    background-color: #fff5f2;
}

.nav__edu-item:hover{
    background-color: rgb(243, 243, 243)!important;
}

.nav__edu-item.nav__edu-item--completed{
    background-color: #e0f1e4;
}

.nav__edu-item-link{
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    padding: 8px 16px;
    justify-content: space-around;
}

.nav__edu-item-img{
    width: 36px;
    object-fit: contain;
    margin-right: 12px;
    background-color: transparent;
}

.nav__edu-item-text{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.nav__edu-item-name{
    margin-bottom: 2px;
}

.nav__edu-item-address{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nav__edu-item-address,
.nav__edu-item-year{
    font-size: 1rem;
    line-height: 1.8rem;
}

i.nav__edu-item-progess{
    display: flex;
    color: #17a2b8;
    text-align: center;
    align-items: center;
    margin-left: 4px;
}

.nav__edu-item-progess.nav__edu-item-progess--complete{
    color: var(--success-color);
}

/* NAV_MUSIC */
.nav__music{
    position: relative;
}

.nav__music:hover .nav__music-list-wrap{
    display: block;
}

.nav__music-icon{
    margin-right: 4px;
}

.nav__music-list-wrap{
    background-color: var(--white-color);
    width: 320px;
    position: absolute;
    top: calc(100% + 18px);
    right: 0;
    margin: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: none;
    transform-origin: 80% top;
    will-change: opacity, animation;
    animation: growthUp ease-in 0.3s;
    border-radius: 4px;
    z-index: 5;
}

.nav__music-list-wrap.active {
    display: block;
}

.nav__music-list-wrap::before{
    content: "";
    display: block;
    position: absolute;
    top: -38px;
    right: 10%;
    border-width: 24px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.nav__music-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 40vh;
    overflow-y: auto;
    padding-left: 0;
    background-color: #faf3f0;
}

.nav__music-item{
    font-size: 1.6rem;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 36px 8px;
}

.nav__music-item.active {
    background-color: #ffc2a9;
}

.nav__music-item.active .nav__music-item-name,
.nav__music-item.active .nav__music-item-author {
    font-weight: 600;
}

.nav__music-item:hover {
    background-color: #fffaf7;
}

.nav__music-list-title{
    color: #a3a3a3;
    padding: 12px 16px 10px;
    border-bottom: 1px solid var(--border-color);
    cursor: default;
    
}

.nav__music-item-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav__music-item-name{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    margin: 0 12px 0 6px;
}

.nav__music-item-author {
    margin-left: auto;
    color: rgba(0, 0, 0, 0.44);
}

.nav__music-item-img{
    width: 4.6rem;
    height: 4.6rem;
    object-fit: cover;
    background-color: transparent;
    margin-right: 8px;
    border: 1px solid var(--border-color);
}

.nav__music-footer{
    text-align: center;
    padding: 6px 0;
}

.nav__music-view-all{
    font-size: 1.4rem;
    padding: 6px 12px;
    color: var(--text-color);
    text-decoration: none;
}

/* NAV-USER */

.nav__user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 144px;
    position: relative;
}

.nav__user:hover .nav__user-details{
    display: block;
}

.nav__user-avt{
    height: 30px;
    border-radius: 50px;
}

.nav__user-details{
    background-color: var(--white-color);
    display: none;
    position: absolute;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    top: calc(100% + 12px);
    right: 0;
    min-width: 240px;
    color: var(--text-color);
    border-radius: 4px;
    cursor: default;
    padding-bottom: 0;
    transform-origin: 85% top;
    will-change: opacity, transform;
    animation: growthUp ease-in 0.3s;
    z-index: 5;
}

.nav__user-details::before{
    content: "";
    position: absolute;
    top: -42px;
    right: 22px;
    border-style: solid;
    border-width: 26px 30px;
    border-color: transparent transparent var( --white-color) transparent;
}

.nav__user-another-name{
    padding: 12px 0 6px;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 4px;
}

.nav__name-title{
    font-size: 1.4rem;
    padding: 0 0 6px 18px;
}

.nav__name-item{
    position: relative;
    right: 0;
    font-size: 1.4rem;
    padding: 0 28px;
    transition: right linear 0.3s;
}

.nav__name-item:hover{
    color : var(--text-hover-color);
    right: -4px;
    font-weight: 600;
}

.nav__detail-item{
    position: relative;
    top: 0;
    font-size: 1.4rem;
    transition: top linear 0.3s;
}

.nav__detail-item:hover{
    color: var(--text-hover-color);
    top: -4px;
    font-weight: 600;
}

.nav__user-address-icon,
.nav__user-phone-icon,
.nav__user-mail-icon{
    padding-right: 4px;
    color: #603015;
}

.nav__user-address{
    padding: 6px 18px 6px;
}

.nav__user-phone,
.nav__user-mail{
    padding: 8px 18px 8px;
}
