/* PC and Tablet */

@media (min-width: 740px)
{
    #mobile-menu-btn{
        display: none !important;
    }
}

/* Tablet */

@media (max-width: 1023px) and (min-width: 740px)
{
}

/* Mobile */

@media (max-width: 739px)
{
    .grid__column-2{
        width: 20%;
        padding-left: 10px;
        padding-right: 8px;
    }

    .grid__column-10{
        width: 80%;
        padding-left: 2px;
        padding-right: 10px;
    }

    .grid__column-2-4{
        width: 50%;
    }

    /* header */

    .nav__contact-text{
        display: none;
    }

    .nav__contact-mobile{
        display: block;
    }

    .nav__contact-mobile-icon{
        padding: 15px 4px;
        font-size: 2rem;
    }

    .nav__contact-separate::after{
        display: none;
    }

    .nav__contact-wrap::before{
        display: none;
    }

    .nav__contact-wrap{
        top: 100%;
    }

    .nav__item.nav__item-mapping{
        padding: 0 2px;
    }

    .nav__item .nav__item-text{
        display: none;
    }

    .nav__item .nav__item-icon{
        display: block;
        font-size: 1.6rem;
    }

    .nav__edu-list {
        width: 230px;
        left: -200%;
    }

    .nav__fav{
        padding: 16px 10px;
    }

    .nav__fav-text{
        display: none;
    }

    .nav__fav-list{
        height: 30vh;
    }

    .nav__fav-list-title{
        font-size: 1.4rem;
    }

    .nav__fav-list-wrap {
        width: 200px;
        right: -16px;
        top: calc(100% + 1px);
    }

    .nav__fav-list-wrap::before{
        top: -40px;
        right: 5%;
        border-width: 24px 24px;
    }

    .nav__user-name{
        display: none;
    }

    .nav__user {
        min-width: 70px;
        padding-left: 0;
    }

    .nav__user-details{
        right: 20px;
        min-width: 200px;
    }

    .nav__user-details::before {
        top: -12%;
        right: 0%;
        border-width: 24px 22px;
    }

    .nav__name-title{
        font-size: 1.3rem;
    }

    .nav__detail-item,
    .nav__name-item{
        padding-left: 14px;
        font-size: 1.2rem;
        padding-right: 4px;
    }

    .nav__name-item{
        padding-left: 26px;
    }

    /* filter */
    .filter__heading{
        font-size: 1.2rem;
        padding-left: 10px;
    }

    .filter__item{
        margin-left: 14px;
    }

    .filter__item-link{
        font-size: 1rem;
    }

    /* container */
    .container{
        padding: 80px 0 120px;
    }

    .container__img{
        height: 212px;
    }

    /* topic */
    img.topic__avatar-img {
        left: 10%;
        bottom: -12%;
        width: 32%;
        height: 80%;
        border: 4px solid var(--white-color);
    }

    .topic__description {
        bottom: 0;
        left: 46%;
        font-size: 1rem;
    }

    .topic__description-item {
        padding-top: 4px;
    }
    
    /* reaction */
    .reaction__btn-wrap {
        position: relative;
        left: 4%;
        top: 44px;
    }

    .reaction__btn-icon{
        font-size: 6vmin;
    }

    /* toast */
    .toast{
        min-width: 200px;
        max-width: 250px;
        padding: 10px 0;
    }
    
    .toast__title{
        font-size: 1.2rem;
    }
    .toast__msg{
        font-size: 1rem;
    }
}