/* PC and Tablet */

@media (min-width: 740px)
{
    #mobile-menu-btn{
        display: none !important;
    }
}

/* Tablet */

@media (max-width: 1023px) and (min-width: 740px)
{
}

/* Mobile */

@media (max-width: 739px)
{

    /* header */
    .header__nav {
        padding: 0;
    }

    .nav__contact-text{
        display: none;
    }

    .nav__contact-mobile{
        display: block;
    }

    .nav__contact-mobile-icon{
        padding: 15px 4px;
        font-size: 2rem;
    }

    .nav__contact-separate::after{
        display: none;
    }

    .nav__contact-wrap::before{
        display: none;
    }

    .nav__contact-wrap{
        top: 100%;
    }

    .nav__item.nav__item-mapping{
        padding: 0 2px;
    }

    .nav__item .nav__item-text{
        display: none;
    }

    .nav__item .nav__item-icon{
        display: block;
        font-size: 1.6rem;
    }

    .nav__edu-list {
        width: 230px;
        left: -200%;
    }

    .nav__music{
        padding: 16px 10px;
    }

    .nav__music-text{
        display: none;
    }

    .nav__music-list{
        height: 30vh;
    }

    .nav__music-list-title{
        font-size: 1.4rem;
    }

    .nav__music-list-wrap {
        width: 200px;
        right: -16px;
        top: calc(100% + 1px);
    }

    .nav__music-list-wrap::before{
        top: -40px;
        right: 5%;
        border-width: 24px 24px;
    }

    .nav__user-name{
        display: none;
    }

    .nav__user {
        min-width: 70px;
        padding-left: 0;
    }

    .nav__user-details{
        right: 20px;
        min-width: 200px;
    }

    .nav__user-details::before {
        top: -12%;
        right: 0%;
        border-width: 24px 22px;
    }

    .nav__name-title{
        font-size: 1.3rem;
    }

    .nav__detail-item,
    .nav__name-item{
        padding-left: 14px;
        font-size: 1.2rem;
        padding-right: 4px;
    }

    .nav__name-item{
        padding-left: 26px;
    }

    /* filter */
    .filter__heading{
        font-size: 1.2rem;
        padding-left: 10px;
    }

    .filter__item{
        margin-left: 14px;
    }

    .filter__item-link{
        font-size: 1rem;
    }

    /* content */
    .content{
        padding: 80px 0 120px;
    }

    .content__title {
        font-size: 1.6rem;
    }

    .content__img{
        height: 212px;
    }

    /* topic */
    .topic {
        height: 100px;
    }

    img.topic__avatar-img {
        left: 10%;
        bottom: -12%;
        width: 32%;
        height: 80%;
        border: 4px solid var(--white-color);
    }

    .topic__description {
        bottom: 0;
        left: 46%;
        font-size: 1rem;
    }

    .topic__description-item {
        padding-top: 4px;
    }
    
    .topic__sound-name {
        display: none;
    }

    .topic__sound {
        width: unset;
    }

    /* reaction */
    .reaction__btn-wrap {
        position: absolute;
        left: 0;
        top: 120%;
    }

    .reaction__btn-icon{
        font-size: 24px;
    }

    /* toast */
    .custom-toast{
        min-width: 200px;
        max-width: 250px;
        padding: 10px 0;
    }
    
    .custom-toast__title{
        font-size: 1.2rem;
    }
    .custom-toast__msg{
        font-size: 1rem;
    }
}