.topic{
    background: url("../img/slider-img/background.jpg") top center / cover no-repeat;
    position: relative;
    margin-top: var(--header-height);
    padding-top: 40%;
}

img.topic__avatar-img{
    object-fit: cover;
    position: absolute;
    left: 10%;
    bottom: -8%;
    width: 25%;
    height: 60%;
    border: 8px solid var(--white-color);
    border-radius: 50%; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: none;
}

img.topic__avatar-img.active {
    display: block;
}

.topic__description{
    position: absolute;
    bottom: 6%;
    left: 38%;
    font-size: 2.4rem;
    color: var(--white-color);
    text-shadow: 0 0 5px rgb(0 0 0);
    list-style: none;
}

.topic__description-item{
    position: relative;
    top: 0;
    padding-top: 28px;
    transition: top linear 0.3s;
    cursor: default;
}

.topic__description-item:hover{
    top: -4px;
    color: var(--text-hover-color);
    font-weight: 500;
}

.topic__sound{
    position: absolute;
    top: 10%;
    right: 6%;
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: var(--white-color);
    overflow: hidden;
}

.topic__sound-img{
    height: 100%;
    width: 50px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.topic__sound-name{
    margin-left: 24px;
    flex: 1;
    font-size: 1.2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.topic__sound-control i {
    font-size: 2.4rem;
    color: rgba(255, 255, 255, 0.7);
}

i.topic__sound-icon--pause{
    display: none;
}

i.topic__sound-icon--play{
    display: block;
}

.topic__sound-control.pausing i.topic__sound-icon--pause{
    display: block;
}

.topic__sound-control.pausing i.topic__sound-icon--play{
    display: none; 
}

.topic__sound-control.pausing i.disappear{
    display: none !important;
}

/* REACTION */
.reaction{
    background-color: #F5F5F5;
}

.reaction__btn-wrap{
    position: absolute;
    left: calc(15% - 4px);
    top: 112%;
}

.reaction__btn{
    margin: 0 16px;
}

.reaction__btn:hover .reaction__btn-icon{
    filter: brightness(60%);
}

.reaction__btn-icon{
    font-size: 4vmin;
}

.reaction__btn--love{
    color: #e31b23;
}
.reaction__btn--like{
    color: var(--facebook-color);
}
.reaction__btn--angry{
    color: #c92929;
}
